<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        * {
            box-sizing: border-box;
        }
        h1 {
            text-align: center;
        }
        p {
            text-align: center;
        }
        span {
        }
        #wrap {
            width: 60%;
            margin: 0 auto;
            border: 1px solid green;
        }
        #login input {
            width: 170px;
            height: 35px;
        }
        #login button {
            margin-top: 5px;
        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <title>Login</title>
</head>
<body>
<div id="wrap">
    <h1>Bạn đã login thanh công, bạn có thể chat với bạn bè trong nhóm.</h1>
    <hr>
    <div id="user">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"><h3>Xin Chào <a href="#">{{data.username}}</a></h3></div>
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <button><a href="/">Log out</a></button>
            </div>
        </div>
    </div>
    <hr>
    <h1>All Group</h1>
    <div class="group">
        <div class="row">
            <form action="detail-chat" method="post">
                <div class="col-md-4">
                    <p name="mygroup" >Node.js</p>
                </div>
                <div class="col-md-4">
                    <p>10 <span>Members</span></p>
                </div>

                <div class="col-md-4">
                    <button class="join" type="submit">Join</button>
                </div>
            </form>
        </div>
    </div>

    <div style="height: 10px"></div>

    <div class="group">
        <div class="row">
            <div class="col-md-4">
                <p>FIFA ONLINE 3</p>
            </div>
            <div class="col-md-4">
                <p>100.000 <span>Members</span></p>
            </div>

            <div class="col-md-4">
                <button class="join"><a href="/group">Join</a></button>
            </div>
        </div>
    </div>

    <div style="height: 10px"></div>

    <div class="group">
        <div class="row">
            <div class="col-md-4">
                <p>DOTA 2</p>
            </div>
            <div class="col-md-4">
                <p>80.000 <span>Members</span></p>
            </div>

            <div class="col-md-4">
                <button class="join"><a href="/group">Join</a></button>
            </div>
        </div>
    </div>

    <div style="height: 10px"></div>

    <div class="group">
        <div class="row">
            <div class="col-md-4">
                <p>Sim Số Đẹp</p>
            </div>
            <div class="col-md-4">
                <p>50.000 <span>Members</span></p>
            </div>

            <div class="col-md-4">
                <button class="join"><a href="/group">Join</a></button>
            </div>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>

</body>
</html>